h1,h2,h3,h4,h5,h6{    font-family: 'Oswald', sans-serif;}

body{font-family: 'Roboto', sans-serif;}
  /* NAV BAR */
.navbar-brand {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4px;
  }
  img {
    max-height: 55px;
  }
  .navbar-brand div span
{
width: 100%;
display: block;
font-size: 50%;
font-weight: 200;
text-align: right;
}
.gradient {
color :rgb(0, 0, 0);
background-color: #8BC6EC;
background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(18,40,85,1) 28%, rgba(51,122,183,1) 100%);
}
.hero {
height: 300px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.hero h1{
color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
    /* HERO */

  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:50px 0px 50px;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 0/3;
    font-weight: 400;
    color: #000000;
  }
  .card__text {
    grid-row: 0/4;
    font-weight: 400;
    color: #ffffff;
  }
  .card__apply {
    grid-row: 0/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: #a2d2ff;
  }
  
  .card-2 {
    background: #a2d2ff;
  }

  .card-3 {
    background: #a2d2ff;
  }
  .card__link{
    font-weight: bolder;
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  
/* FOOTER */
.footer {
height: 570px;
width: 100%;
background-color: #57a7ed;
display: flex;
align-items : center;
justify-content: center;
flex-direction: column;
margin-top: 50px;

}
.footer h1{
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  color :white;
}
.footer h2{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color :black;
}
.footer a{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
